*{
    padding: 0%;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(166, 166, 246);
}
.tsble_contsiner{
height: 500px;
width: 400px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
}
table{
    text-align: center;
    height: 400px;
    width: 250px;
    
    background-color: rgb(251, 255, 255);
    border-radius: 10px;
    padding:5px;
}
td,tr{
    border: 1px solid black;
    border-radius: 15px;
}
td{
    background-color: black;
    color: white;
}